* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: "Lora", Helvetica, sans-serif;
    background-color: #95D5B2;
    color: #1B4332;
}

h1, h2, h3, h4, h5 {
    font-family: "Dancing Script";
}

button {
    font-family: "Lora", Helvetica, sans-serif;
    font-weight: 900;
    font-size: 15px;
}

#logo-link, .logo-link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.logo {
    width: 80px;
}

header {
    display: flex;
    background-color: #081C15;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 100%;
}

header a, footer a {
    color: #B7E4C7;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 0;
}

header a h1 {
    text-align: center;
    font-size: 56px;
    margin-bottom: 0;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav a {
    color: #B7E4C7;
    padding: 5px 10px;
    text-decoration: none;
    text-align: center;
}

nav a:hover, .active {
    border-bottom: 5px solid #74C69D;
    font-weight: 300;
}

#menu {
    font-size: 1.5rem;
    border: 1px solid rgba(0,0,0,.3);
    padding: 3px 7px 6px;
    background-color: #081C15;
    color: #B7E4C7;
    position: absolute;
    top: 1rem;
    right: 1rem;
    border-radius: 8px;
    width: 40px;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "X";
}
nav.open {
    position: fixed;
    top: 0;
    left: 0;
    height: 45%;
    z-index: 1;
    width: 100%;
    background-color: #081C15;
}
nav.open ul li a {
    border-bottom: 1px solid #74C69D;
    text-align: left;
}
.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background: #081C15;
    color: #B7E4C7;
}

.navigation li {
    display: none;
}

.navigation li a {
    display: block;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    color: #B7E4C7;
    width: 100%;
}

.open li {
    display: block;
    width: 100%;
}

.open li a {
    display: block;
}

nav > a {
    display: none;
}

nav.open > a {
    display: flex;
    padding-bottom: 25px;
}

.hero-wrapper {
    width: 100%;
    height: 200px;
    position: relative;
}

.hero-wrapper img.hero-banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.join-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #95D5B2;
    color: #081C15;
    padding: 15px 30px;
    border-radius: 10px;
}

.join-button:hover {
    background-color: #081C15;
    color: #95D5B2;
}

main {
    padding: 30px;
    max-width: 1440px;
    margin: 0 auto;
    display: grid !important;
    grid-template-columns: 1fr;
    gap: 15px;
    row-gap: 30px;
}

main section {
    background: #fff;
    padding: 25px;
}

main .card, .event-section {
    border-radius: 8px;
    border: 1px solid #081C15;
}

.event-section {
    display: grid;
    grid-template-columns: 1fr;
}

.event-section h2 {
    padding-bottom: 16px;
}

.event-section .card-img {
    width: 100%;
}

.event-section .event-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.event-section .event-wrapper .event {
    font-weight: 700;
    margin: 10px 0;
}

.event-section .event-wrapper .event-link {
    text-align: right;
    text-decoration: underline !important; 
}

.card .ad-wrapper ul {
    list-style: none;
}

footer {
    background-color: #081C15;
    color: #B7E4C7;
    padding: 10px;
    text-align: center;
}

footer a {
    justify-content: center;
    text-align: left;
}