* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: "Lora", serif;
    background-color: #D8F3DC;
    color: #081C15;
}

header {
    background: #52B788;
    display: flex;
    align-items: center;
    padding: 20px 15px;
    color: #081C15;
}

header h1 {
    width: 75%;
    text-align: center;
}

.student-image {
    /* aspect-ratio: 4/3; */
    width: 25%;
    object-fit: cover;
}

nav {
    justify-content: space-between;
    width: 100%;
}

nav a {
    color: #B7E4C7;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
}

nav a:hover, .active {
    background-color: rgba(255, 255, 255, 0.2);
    font-weight: 300;
}

#menu {
    font-size: 1.5rem;
    border: 1px solid rgba(0,0,0,.3);
    padding: 3px 7px 6px;
    background-color: #081C15;
    color: #B7E4C7;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "X";
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background: #081C15;
    color: #B7E4C7;
}

.navigation li {
    display: none;
}

.navigation li a {
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #B7E4C7;
}

.open li {
    display: block;
    width: 100%;
}

.open li a {
    display: block;
}


#mode {
    position: relative;
    font-size: 3rem;
    cursor: pointer;
}

.page-title {
    padding: 30px 30px 10px;
    max-width: 1440px;
}

h2 {
    text-align: center;
    border-bottom: 1px solid #081C15;
    padding-bottom: 10px;
}

main {
    padding: 30px;
    max-width: 1440px;
    margin: 0 auto;
    display: grid !important;
    grid-template-columns: 1fr;
    gap: 15px;
}

main section {
    background: #fff;
    margin-bottom: 30px;
}

main .card {
    border-radius: 8px;
    border: 1px solid #081C15;
}

.card h3 {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    background: #52B788;
    padding: 20px;
    text-align: center;
}

.card .card-list-wrapper{
    padding: 15px;
}

.card ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card ul li span {
    font-weight: 600;
}

.card .card-information-wrapper {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

footer {
    background: #52B788;
    padding: 20px 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

footer p:first-child {
    display: flex;
    flex-direction: column;
    gap: 8px;
}