:root {
    --dark: #081C15;
    --accent-color: #52B788;
    --light-color: #B7E4C7;
}

#range-values {
    display: flex;
}

#range-values option {
    flex: auto;
}
 
.range-slider {
    width: 100%;
}

#range {
    width: 500px;
}

#range-value {
    padding: 10px 0;
    font-size: 20px;
    font-weight: 700;
}

form fieldset {
    margin: 2rem;
    border: 1px solid var(--dark);
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: var(--dark);
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top {
    display: block;
    padding-top: 1rem;
    color: var(--dark-color);
    font-size: .8rem;
}

form label.top input, form label.top select {
    display: block;
    font-size: 1rem;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    padding: .75rem;
    width: 100%;
    max-width: 20rem;
}

form input.submit-button {
    border: none;
    background-color: var(--dark);
    color: var(--light-color);
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 5% 0 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

fieldset.create {
    text-align: left;
}

.form-message {
    padding-top: 10px;
    color: var(--light-color);
    font-weight: 700;
    background-color: var(--dark);
}