@media screen and (min-width: 768px) {
    header {
        justify-content: center;
        gap: 60px;
    }

    .student-image {
        width: 150px;
    }

    header h1 {
        width: unset;
    }

    #menu {
        display: none;
    }

    .navigation {
        flex-direction: row;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%
    }

    nav a {
        font-size: 18px;
    }

    .hero img {
        display: block;
    }

    h2 {
        text-align: left;
    }

    main {
        grid-template-columns: 2fr 1fr;
        padding: 0 30px;
        margin: 0 auto;
    }

    main .page-title, iframe {
        margin: 0;
        padding: 0;
    }

    main section, .student-image {
        box-shadow: -1px 3px 16px -1px rgba(0,0,0,0.74);
        -webkit-box-shadow: -1px 3px 16px -1px rgba(0,0,0,0.74);
        -moz-box-shadow: -1px 3px 16px -1px rgba(0,0,0,0.74);
    }

    .card {
        grid-column: unset;
        margin: 0;
    }

    footer p:first-child {
        flex-direction: row;
        gap: 8px;
        justify-content: center;
    }
}